/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Header  */
    .login-area{
        text-align:right;
        color: white;
        background-color:darkblue;
        
        
    }

/* Banner */
.first-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:darkblue;
    
    
}
.first-container img{
    margin-left: 40px;
    width: 70%;
    height: 70%;
    padding: 50px;
    
}
.banner-text{
    margin-left: 100px;
    color: white;
    font-size: 65px;
       
}

.click{
    margin-top: 0px;
}


/* Utillities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: gainsboro;
    margin: 50px;
    
}

/* PLayers & Blogs  */

.player img{  
    
        margin-left: 40px;
        width: 70%;
        height: 70%;
        padding: 50px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}